<!doctype html>
<html>

<head>
    <title>BCKBN SPA</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>

    <div class="container">
        <h3>BCKBN SPA</h3>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav navigation-container">
                </ul>
            </div>
        </nav>

        <div class="row">
            <div class="col-lg-12 app-container">

            </div>
        </div>
    </div>

    <script type="text/template" class="home-layout-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Action</th>
                </tr>
                <tr class="add-blog-container">
                </tr>
            </thead>
                <tbody class="blogs-list">
                </tbody>
        </table>
    </script>

    <script type="text/template" class="navigation-template">
        <li>
            <a id="<%= id %>" href="<%= url %>">
                <%= title %>
            </a>
        </li>
    </script>

    <script type="text/template" class="add-blog-template">
        <td>
            <input class="form-control author-input">
        </td>
        <td>
            <input class="form-control title-input">
        </td>
        <td>
            <input class="form-control url-input">
        </td>
        <td>
            <button class="btn btn-primary add-blog">Add</button>
        </td>
    </script>

    <script type="text/template" class="blogs-list-template">
        <td><span class="row-field author"><%= author %></span></td>
        <td><span class="row-field title"><%= title %></span></td>
        <td><span class="row-field url"><%= url %></span></td>
        <td>
            <button class="btn btn-warning edit-blog">Edit</button>
            <button class="btn btn-danger delete-blog">Delete</button>
            <button class="btn btn-info info-blog">Info</button>
        </td>
    </script>

    <script type="text/template" class="edit-blog-template">
        <td>
            <input class="form-control author-input" value="<%= author %>">
        </td>
        <td>
            <input class="form-control title-input" value="<%= title %>">
        </td>
        <td>
            <input class="form-control url-input" value="<%= url %>">
        </td>
        <td>
            <button class="btn btn-warning update-blog">Update</button>
            <button class="btn btn-danger cancel-editing">Cancel</button>
            <button class="btn btn-info info-blog">Info</button>
        </td>
    </script>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/underscore.js"></script>
    <script src="js/vendor/backbone.js"></script>
    <script src="js/App.js"></script>
</body>

</html>
